data/
датасет/
data/
*.zst
*.db3
*.pcd
*.npz
results/

build/
install/
log/
.deps/
__pycache__/
*.pyc
.pytest_cache/

third_party/*/

.git/
.gitignore
.github/
.repowise/
.vscode/
.idea/

docs/img/
*.mp4
