data/
датасет/
Datas/
ProjectSubmission/
*.zst
*.db3
*.head
*.frames
*.pcd
*.npz
results/

build/
install/
log/
.deps/
__pycache__/
*.pyc
.pytest_cache/

third_party/

.git/
.gitignore
.github/
.repowise/
.vscode/
.idea/

docs/img/
*.mp4
